# Gradle
.gradle/
gradlew.bat
build/
local.properties

# Maven
target
pom.xml.*
release.properties
gen-external-apklibs

# Eclipse
.classpath
.project
.settings
eclipsebin
proguard/

# IntelliJ IDEA
*.iml
*.ipl
*.iws
/.idea/*

!/.idea/vcs.xml
!/.idea/fileTemplates/
!/.idea/inspectionProfiles/
!/.idea/scopes/
!/.idea/codeStyles/
!/.idea/encodings.xml
!/.idea/copyright/
!/.idea/compiler.xml




idea-classes/
coverage-error.log
############################## TO CHECK ##############################
#.idea/markdown-navigator/                                           #
# .idea/tasks.xml                                                    #
# .idea/dictionaries # SHOULD THIS BE INCLUDED IN THE FOLDER?        #
# /.idea/assetWizardSettings.xml SHOULD THIS BE EXCLUDED ??          #
# /.idea/navEditor.xml SHOULD THIS BE EXCLUDED ??                    #
######################################################################

# Android Studio
captures/
.navigation/

# Android
gen
bin
project.properties

# Finder
.DS_Store

# Windows
Thumbs.db

# Logs
*.log

# Google Services (e.g. APIs or Firebase)
google-services.json
