# Gradle
.gradle/
gradlew.bat
build/
local.properties

# Maven
target
pom.xml.*
release.properties
gen-external-apklibs

# Eclipse
.classpath
.project
.settings
eclipsebin
proguard/

# IntelliJ IDEA
.idea/caches/
.idea/libraries/
.idea/markdown-navigator*
.idea/markdown-exported-files.xml
.idea/gradle.xml
.idea/kotlinc.xml
.idea/workspace.xml
*.iml
*.ipl
*.iws
idea-classes/
coverage-error.log
############################## TO CHECK ##############################
#.idea/markdown-navigator/                                           #
# .idea/tasks.xml                                                    #
# .idea/dictionaries # SHOULD THIS BE INCLUDED IN THE FOLDER?        #
# /.idea/assetWizardSettings.xml SHOULD THIS BE EXCLUDED ??          #
# /.idea/navEditor.xml SHOULD THIS BE EXCLUDED ??                    #
######################################################################

# Android Studio
captures/
.navigation/

# Android
gen
bin
project.properties

# Finder
.DS_Store

# Windows
Thumbs.db

# Logs
*.log

# Google Services (e.g. APIs or Firebase)
google-services.json
